.navbar {
		position: flex;
		top: 0;
		width: 100%;
		height: 60px;
		background: black;
		color: white;
		display: flex;
		align-items: center;
		padding: 0 25px;
		box-sizing: border-box;
		z-index: 1000;
		justify-content: center;
		}
		
		.nav-links {
		list-style: none;
		display: flex;
		gap: 25px;
		margin-right: end;
		
		}
		
		.nav-links li a:hover{
		background-color: #5279E0;
		color: white;
		}
		
		.nav-links li a {
		color: #ddd;
		text-decoration: none;
		font-size: 16px;
		transition: 0.3s;
		margin-right: auto;
		background-color: #2758D8;
		color: white;
		padding: 10px 20px;
		text-decoration: none;
		font-weight: bold;
		border-radius: 5px;
		}
		
		#content {
		padding:80px 20px
		}
		
		.logo {
		margin-right: auto;
		color: white;
		font-size: 20px;
		font-weigth: bold;
		text-shadow: 0 0 7px white, 0 0 10px white, 0 0 21px white;
		}
		
		.logo a {
		text-decoration: none;
		color: white;
		background-color: #2758D8;
		padding: 10px;
		border-radius: 50%;
		
		}
		
		section {
		background: linear-gradient(to top, #1B0B96, #598AD9);
		color: white;
		text-align: center;
		padding: 60px 20px;
		}
		
		.link-hero{
		background-color: #2758D8;
		color: white;
		padding: 10px 20px;
		text-decoration: none;
		font-weight: bold;
		border-radius: 5px;
		}
		
		.link-hero:hover {
		background-color: #5279E0;
		color: white;
		}
		
	